<main>
  <h3>
      <nav class="navbar navbar-expand-sm navbar-dark" style="color: ivory;">
          <ul class= "navbar-nav" style="color: ivory;">
          </ul>
      </nav>
<h1 style="color: ivory;">Cinema SmartApp</h1>
  </h3>
</main>


<header>
  <div class="menu" style="color: ivory; font-size: xx-large;">
    <nav class="navbar navbar-expand-sm bg-primary navbar-light;">
      <h1 style="padding-left: 1200px;"> W E L C O M E</h1>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a routerLink="login" routerLinkActive="active" class="nav-link"
          style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
          color: ivory;  font-size: xx-large"> Login page</a>
        </li>
        <li class="nav-item">
          <a routerLink="logout" routerLinkActive="active" class="nav-link"
          style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          color: ivory; font-size: xx-large"> Logout</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<br>

<div class= "container" style="font-weight: bolder;">
  <router-outlet></router-outlet>
</div>

<br>
<footer class = "footer">
  <div class = "container">
      <span>All Rights Reserved 2021</span>
  </div>    
</footer>
