<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div class="container">
  <img id="profile-img" class="rounded-circle profile-img-card"
        style="padding-left:300px;" src="https://i.imgur.com/6b6psnA.png">
    <div class="card-body" style="padding-left: 400px; height: 300px; width: 900px; font-size: larger;">
      <form class="form-group">
        <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
        <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div>
        <div class="form-group" style="font-size: larger;">
          <label for="email" style="color:ivory;">Username:</label>
          <input type="text" class="form-control" id="username" [(ngModel)]="username" placeholder="Enter User Name"
            name="username" style="font-size: larger;">
        </div>
        <div class="form-group">
          <label for="pwd" style="color:ivory;">Password:</label>
          <input type="password" class="form-control" [(ngModel)]="password" id="password" placeholder="Enter password"
            name="password"style="font-size: larger;">
        </div>
        <button (click)=handleLogin() class="btn btn-primary" style="font-size: larger;">Login</button>
      </form>
  </div>
</div>
