h2 {
    color:seashell;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* 
div{
    float: right;
} */


table{

    opacity: 10;    
    margin-top: 50px;
    display: table;
    border-collapse: separate;
    border-spacing: 5px;
    border-color: gray;
    text-align: center;
    width: 150%;
    background-color:navy;
    font-size: x-large;

}


