<h2 class="text-center"> List of Movies </h2>

    <div>     
        <button (click) = "saveMovie()" class = "btn btn-success" type = "submit" style="margin-bottom: 20px">Add New Movie</button>
     </div>

    <div class="container">
    <table class = "table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>MovieName</th>
            <th>MovieType</th>
            <th>MovieRoom</th>
            <th>MoviePrice</th>
            <th>Seats number</th>
            <th>Date Movie</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        
        <tr *ngFor = "let movie of movies" >
              <td> {{ movie.movieId }}</td>
              <td> {{ movie.movieName }}</td>
              <td> {{ movie.movieType }}</td>
              <td> {{ movie.movieRoom }}</td>
              <td> {{ movie.moviePrice }}</td>
              <td><input type='number'></td>
              <td> {{movie.movieDate}}</td>       
            <td>
                <button (click) = "updateMovie(movie.movieId)" class = "btn btn-info"> Update</button>
                <button (click) = "deleteMovie(movie.movieId)" class = "btn btn-danger"> Delete</button>
            </td>
        </tr>
    </tbody>
    </table>
    
</div>
