h2 {
    color:seashell;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div{
    float: right;
}


table{
    position: absolute;
    text-align: center;
    border:1px solid rgb(238, 228, 228);
    opacity: 3;    
    margin-left: 20px;
    margin-top: 50px;
    background-color:rgb(238, 228, 228);
    border-color: royalblue;
    width: 50%;;
    font-size:large;
}


